In [8]:
# R basic Data Types 
# numeric data type consists of decimal numbers , floating numbers , integers
# logical data type consists of boolean values which are TRUE or FALSE
TRUE 
FALSE
a<-T
b<-F
# characters also known as strings , we can use either double or single quotes to make a character string 
'HELLO'
"HELLO"
# to find the class or data type of a variable , we use the CLASS function 
class(b)
class(12)

[1] TRUE

[1] FALSE

[1] "HELLO"

[1] "HELLO"

[1] "logical"

[1] "numeric"

In [34]:
# R VECTOR BASICS
#To create a vector called Customer ID 
Customer_ID <- c(12736 , 93212 , 08302, 09327)
Customer_ID
# to find out the class of the vector Customer ID 
class(Customer_ID)
# To create a character vector of the customer Name 
Customer_Name <- c("Aicha" , "Adriana" , "victor" , "carlos")
Customer_Name 
class(Customer_Name)
# mixing data types 
mix <- c(20209 , "Aicha" , 09372)
mix
class(mix)
# creating a vector of numbers and then naming the content  of the vectors 
Student_ID_and_name <- c(2387 , 0986 , 2638 , 0988 , 3730, 6732)
names(Student_ID_and_name) <- c("Victor" , "Maria" , "Karin" , "Adriana" , "Carlos" , "Mariam")
Student_ID_and_name

# Vector operations
Income <- c(1345 , 9876 , 3245)
Expenses <- c(678 , 1278 , 987)
Income - Expenses 
Income * 12 
Income / Expenses 
Income + Expenses 
# statistical operations
sum(Income)
mean(Income)
sd(Income)
max(Income)
min(Income)

[1] 12736 93212  8302  9327

[1] "numeric"

[1] "Aicha"   "Adriana" "victor"  "carlos"

[1] "character"

[1] "20209" "Aicha" "9372"

[1] "character"

 Victor   Maria   Karin Adriana  Carlos  Mariam
   2387     986    2638     988    3730    6732

[1]  667 8598 2258

[1]  16140 118512  38940

[1] 1.983776 7.727700 3.287741

[1]  2023 11154  4232

[1] 14466

[1] 4822

[1] 4478.804

[1] 9876

[1] 1345

In [67]:
# Comparison Operators 
# > higher than 
# < lower than 
# >= higher or equal to 
# =< lower or equal to 
# == equal to 
# != not equal to
# Examples 
7 > 6 
6 < 7 
6 >= 7 
6 <= 7 
6 == 7 
6 != 7

# vector indexing and vector slicing
salary <- c(1200 ,3500 , 900 , 3210)
salary
salary[1] # to select the first element
salary [c(2,4)] # to select the 2nd and 4th elements together
salary[1:4] # selecting from the first to the 4th element of the vector salary
salary[salary < 1000] # selecting the vector element with salary < 1000

[1] TRUE

[1] TRUE

[1] FALSE

[1] TRUE

[1] FALSE

[1] TRUE

[1] 1200 3500  900 3210

[1] 1200

[1] 3500 3210

[1] 1200 3500  900 3210

[1] 900

In [104]:
# R matrices 
matrix(salary) # to transform a vector into a matrix 
salary
income1 <- c(1200 , 1750 , 1820 , 2173 , 2309 , 9870 )
income2 <- c(356 , 345 , 230 , 210 , 230 , 2700 )
financial_information <- c(income , expenses)
financial_information.matrix <- matrix(financial_information, byrow=T , nrow=2)
months <- c('jan' , 'feb' , 'mar' , 'apr' , 'may' , 'jun')
cons.names <- c('Victor' , 'Mariam')
colnames(financial_information.matrix) <- months 
rownames(financial_information.matrix) <- cons.names
print(financial_information.matrix)
# matrix arithmetic 
financial_information.matrix * 3
financial_information.matrix ^ 3
financial_information.matrix / financial_information.matrix
# matrix operations
colSums(financial_information.matrix) # to sum the columns 
rowSums(financial_information.matrix) # to sum the rows 
rowMeans(financial_information.matrix) # to find the mean of the rows
# combining  
expenses <- c(1200 , 9083 , 3290 , 3420 , 1289 , 6549) 
finances <- rbind(financial_information.matrix , expenses) # combining per rows # adding a new row
finances 
avg <- rowMeans(finances)
finances_1 <- cbind(financial_information.matrix , avg) # adding a new column
finances_1
# selecting and indexing matrices 
finances_1[2] # selecting the 2nd element of the matrix finances _ 1
finances_1[1,] # selecting from the 1st element onwards 

# categorical matrices 
# sometimes when working with data we are faced with some categorical variables with different levels. 
gender <- c('Male' , 'Female')
factor(gender)
# nominal categorical variables : are variables that don't have any order 
# ordinal categorical variables : are the variables that have order -- can be ranked 
weather <- c('cold' , 'medium' , 'hot')

     [,1]
[1,] 1200
[2,] 3500
[3,]  900
[4,] 3210

[1] 1200 3500  900 3210

        jan  feb  mar  apr  may  jun
Victor 1200 1750 1820 2173 2309 9870
Mariam 1200 9083 3290 3420 1289 6549

       jan  feb   mar  apr   may  jun
Victor 3600  5250 5460  6519 6927 29610
Mariam 3600 27249 9870 10260 3867 19647

       jan       feb          mar         apr         may         jun
Victor 1.728e+09   5359375000  6028568000 10260751717 12310389629 961504803000
Mariam 1.728e+09 749355574787 35611289000 40001688000  2141700569 280882687149

       jan feb mar apr may jun
Victor 1   1   1   1   1   1
Mariam 1   1   1   1   1   1

  jan   feb   mar   apr   may   jun
 2400 10833  5110  5593  3598 16419

Victor Mariam
 19122  24831

Victor Mariam
3187.0 4138.5

         jan  feb  mar  apr  may  jun
Victor   1200 1750 1820 2173 2309 9870
Mariam   1200 9083 3290 3420 1289 6549
expenses 1200 9083 3290 3420 1289 6549

Warning message in cbind(financial_information.matrix, avg):
"number of rows of result is not a multiple of vector length (arg 2)"

       jan  feb  mar  apr  may  jun  avg
Victor 1200 1750 1820 2173 2309 9870 3187.0
Mariam 1200 9083 3290 3420 1289 6549 4138.5

[1] 1200

 jan  feb  mar  apr  may  jun  avg
1200 1750 1820 2173 2309 9870 3187

[1] Male   Female
Levels: Female Male

In [124]:
# Data Frames 

data("USArrests") # loading the dataset from R 
str(USArrests) # to find the structure of the dataframe 
   # we have 50 observations and 4 variables and the structure of each variable of the 4 
summary(USArrests) # to find the numerical summary of the dataframe -- statistical summary : mean , sd , minimum , maximum among others.

################## CREATING A DATA FRAME MANUALLAY #######################

student <- c('karin' , 'ahmed' , 'maria' , 'victor' , 'noura')
grade <- c(9 , 10 , 8 , 4 , 9)
student_grades <- data.frame(student , grade)
student_grades

################## DATA FRAME INDEXING AND SELECTION ######################

student_grades[1,] # to select the first row 
student_grades[,1] # to select the first column 
student_grades$student # selecting the column student 

################## SELECTING A PART OF THE DATA THAT MEETS CERTAIN CRITERIA ##################

subset(student_grades , subset = grade < 5)
###################### order the dataframe by certain column ###################################
sorted.grade <- order(student_grades['grade']) # grades are sorted by index 
sorted.grade

################### DATA FRAME OPERATIONS ##############################

# data__ <- read.csv("# just put a csv  file name that is in your working directory") #
nrow(student_grades) # to find the number of rows in a data frame 
ncol(student_grades) # to find the number of columns in a data frame 
rownames(student_grades) # to view the names of the rows 
colnames(student_grades) # to view the names of the columns 
str(student_grades) # to view the structure of the data frame 
student_grades[[3,2]] # ---indexing, to find the element that is at the 3rd row and the 2nd column 
head(USArrests) # to view the first 6 elements of the dataset
USArrests[['Murder']] # to view the values of the column : MURDER 
USArrests$doubleofmurder <- 2 * USArrests$Murder  # creating a new column in the dataset
USArrests[-2] # view the rows of the dataframe except  the second row
USArrests[USArrests$Assault < 200 ,] # selecting the rows that meet certain criteria 
subset(USArrests , Assault < 200  & Murder >= 5) # select a part of the dataframe that meets certain criteria 
is.na(USArrests) # to check for the missing values 
USArrests[is.na(USArrests)] <- 0 # setting the missing values  if any in the dataframe to zero
USArrests$Assault[is.na(USArrests$Assault)] <- mean(USArrests$Assault) # setting the missing values of the column Assault to the average of the column

'data.frame':	50 obs. of  4 variables:
 $ Murder  : num  13.2 10 8.1 8.8 9 7.9 3.3 5.9 15.4 17.4 ...
 $ Assault : int  236 263 294 190 276 204 110 238 335 211 ...
 $ UrbanPop: int  58 48 80 50 91 78 77 72 80 60 ...
 $ Rape    : num  21.2 44.5 31 19.5 40.6 38.7 11.1 15.8 31.9 25.8 ...

     Murder          Assault         UrbanPop          Rape
 Min.   : 0.800   Min.   : 45.0   Min.   :32.00   Min.   : 7.30
 1st Qu.: 4.075   1st Qu.:109.0   1st Qu.:54.50   1st Qu.:15.07
 Median : 7.250   Median :159.0   Median :66.00   Median :20.10
 Mean   : 7.788   Mean   :170.8   Mean   :65.54   Mean   :21.23
 3rd Qu.:11.250   3rd Qu.:249.0   3rd Qu.:77.75   3rd Qu.:26.18
 Max.   :17.400   Max.   :337.0   Max.   :91.00   Max.   :46.00

  student grade
1 karin    9
2 ahmed   10
3 maria    8
4 victor   4
5 noura    9

  student grade
1 karin   9

[1] karin  ahmed  maria  victor noura
Levels: ahmed karin maria noura victor

[1] karin  ahmed  maria  victor noura
Levels: ahmed karin maria noura victor

  student grade
4 victor  4

[1] 4 3 1 5 2

[1] 5

[1] 2

[1] "1" "2" "3" "4" "5"

[1] "student" "grade"

'data.frame':	5 obs. of  2 variables:
 $ student: Factor w/ 5 levels "ahmed","karin",..: 2 1 3 5 4
 $ grade  : num  9 10 8 4 9

[1] 8

           Murder Assault UrbanPop Rape
Alabama    13.2   236     58       21.2
Alaska     10.0   263     48       44.5
Arizona     8.1   294     80       31.0
Arkansas    8.8   190     50       19.5
California  9.0   276     91       40.6
Colorado    7.9   204     78       38.7

 [1] 13.2 10.0  8.1  8.8  9.0  7.9  3.3  5.9 15.4 17.4  5.3  2.6 10.4  7.2  2.2
[16]  6.0  9.7 15.4  2.1 11.3  4.4 12.1  2.7 16.1  9.0  6.0  4.3 12.2  2.1  7.4
[31] 11.4 11.1 13.0  0.8  7.3  6.6  4.9  6.3  3.4 14.4  3.8 13.2 12.7  3.2  2.2
[46]  8.5  4.0  5.7  2.6  6.8

               Murder UrbanPop Rape doubleofmurder
Alabama        13.2   58       21.2 26.4
Alaska         10.0   48       44.5 20.0
Arizona         8.1   80       31.0 16.2
Arkansas        8.8   50       19.5 17.6
California      9.0   91       40.6 18.0
Colorado        7.9   78       38.7 15.8
Connecticut     3.3   77       11.1  6.6
Delaware        5.9   72       15.8 11.8
Florida        15.4   80       31.9 30.8
Georgia        17.4   60       25.8 34.8
Hawaii          5.3   83       20.2 10.6
Idaho           2.6   54       14.2  5.2
Illinois       10.4   83       24.0 20.8
Indiana         7.2   65       21.0 14.4
Iowa            2.2   57       11.3  4.4
Kansas          6.0   66       18.0 12.0
Kentucky        9.7   52       16.3 19.4
Louisiana      15.4   66       22.2 30.8
Maine           2.1   51        7.8  4.2
Maryland       11.3   67       27.8 22.6
Massachusetts   4.4   85       16.3  8.8
Michigan       12.1   74       35.1 24.2
Minnesota       2.7   66       14.9  5.4
Mississippi    16.1   44       17.1 32.2
Missouri        9.0   70       28.2 18.0
Montana         6.0   53       16.4 12.0
Nebraska        4.3   62       16.5  8.6
Nevada         12.2   81       46.0 24.4
New Hampshire   2.1   56        9.5  4.2
New Jersey      7.4   89       18.8 14.8
New Mexico     11.4   70       32.1 22.8
New York       11.1   86       26.1 22.2
North Carolina 13.0   45       16.1 26.0
North Dakota    0.8   44        7.3  1.6
Ohio            7.3   75       21.4 14.6
Oklahoma        6.6   68       20.0 13.2
Oregon          4.9   67       29.3  9.8
Pennsylvania    6.3   72       14.9 12.6
Rhode Island    3.4   87        8.3  6.8
South Carolina 14.4   48       22.5 28.8
South Dakota    3.8   45       12.8  7.6
Tennessee      13.2   59       26.9 26.4
Texas          12.7   80       25.5 25.4
Utah            3.2   80       22.9  6.4
Vermont         2.2   32       11.2  4.4
Virginia        8.5   63       20.7 17.0
Washington      4.0   73       26.2  8.0
West Virginia   5.7   39        9.3 11.4
Wisconsin       2.6   66       10.8  5.2
Wyoming         6.8   60       15.6 13.6

              Murder Assault UrbanPop Rape doubleofmurder
Arkansas       8.8   190     50       19.5 17.6
Connecticut    3.3   110     77       11.1  6.6
Hawaii         5.3    46     83       20.2 10.6
Idaho          2.6   120     54       14.2  5.2
Indiana        7.2   113     65       21.0 14.4
Iowa           2.2    56     57       11.3  4.4
Kansas         6.0   115     66       18.0 12.0
Kentucky       9.7   109     52       16.3 19.4
Maine          2.1    83     51        7.8  4.2
Massachusetts  4.4   149     85       16.3  8.8
Minnesota      2.7    72     66       14.9  5.4
Missouri       9.0   178     70       28.2 18.0
Montana        6.0   109     53       16.4 12.0
Nebraska       4.3   102     62       16.5  8.6
New Hampshire  2.1    57     56        9.5  4.2
New Jersey     7.4   159     89       18.8 14.8
North Dakota   0.8    45     44        7.3  1.6
Ohio           7.3   120     75       21.4 14.6
Oklahoma       6.6   151     68       20.0 13.2
Oregon         4.9   159     67       29.3  9.8
Pennsylvania   6.3   106     72       14.9 12.6
Rhode Island   3.4   174     87        8.3  6.8
South Dakota   3.8    86     45       12.8  7.6
Tennessee     13.2   188     59       26.9 26.4
Utah           3.2   120     80       22.9  6.4
Vermont        2.2    48     32       11.2  4.4
Virginia       8.5   156     63       20.7 17.0
Washington     4.0   145     73       26.2  8.0
West Virginia  5.7    81     39        9.3 11.4
Wisconsin      2.6    53     66       10.8  5.2
Wyoming        6.8   161     60       15.6 13.6

In [17]:
# Lists 
######################## Basics of Lists##########################
# By definition a list allow us to combine different data structures into one single variable 
# let's create a vector , a data frame , and matrix.
contact_no <- c(653267890 , 890765321 , 087832987) # --- a vector 
matrix_1 <- matrix(1:10 , nrow=2)
df <- USArrests
first_list <- list(contact_no , matrix_1 , df)
first_list
# the list contains 3 elements : contact no , matrix_1 , df 
# create a list where the elements are named 
Named_first_list <- list(contact = contact_no , matrix1 = matrix_1 , usarrests = df)
Named_first_list


################## object selection from Lists ####################

# we can select the elements of the list using bracket notation 
Named_first_list[1] #-------- This will select the first element of the list 
# if you also know the name of the element you are interested in selecting from the list 
Named_first_list['usarrests']
# Another way of doing it is using a dollar sign , an important thing to note here is that if we use the dollar sign , the class object is showed as a vector instead if we use the brackets to index , it showed the list item. 
# for instance lets use class function to illustrate that difference.
Named_first_list['usarrests']
class(Named_first_list['usarrests']) # notice the class is showed as list 
Named_first_list$contact
class(Named_first_list$contact) # the class is showed as numeric 

#################### Lists made of lists :) #######################

# List can also be made of others lists for organizational purposes. 

double.list <- list(first_list , Named_first_list)
double.list

[[1]]
[1] 653267890 890765321  87832987

[[2]]
     [,1] [,2] [,3] [,4] [,5]
[1,]    1    3    5    7    9
[2,]    2    4    6    8   10

[[3]]
               Murder Assault UrbanPop Rape
Alabama          13.2     236       58 21.2
Alaska           10.0     263       48 44.5
Arizona           8.1     294       80 31.0
Arkansas          8.8     190       50 19.5
California        9.0     276       91 40.6
Colorado          7.9     204       78 38.7
Connecticut       3.3     110       77 11.1
Delaware          5.9     238       72 15.8
Florida          15.4     335       80 31.9
Georgia          17.4     211       60 25.8
Hawaii            5.3      46       83 20.2
Idaho             2.6     120       54 14.2
Illinois         10.4     249       83 24.0
Indiana           7.2     113       65 21.0
Iowa              2.2      56       57 11.3
Kansas            6.0     115       66 18.0
Kentucky          9.7     109       52 16.3
Louisiana        15.4     249       66 22.2
Maine             2.1      83       51  7.8
Maryland         11.3     300       67 27.8
Massachusetts     4.4     149       85 16.3
Michigan         12.1     255       74 35.1
Minnesota         2.7      72       66 14.9
Mississippi      16.1     259       44 17.1
Missouri          9.0     178       70 28.2
Montana           6.0     109       53 16.4
Nebraska          4.3     102       62 16.5
Nevada           12.2     252       81 46.0
New Hampshire     2.1      57       56  9.5
New Jersey        7.4     159       89 18.8
New Mexico       11.4     285       70 32.1
New York         11.1     254       86 26.1
North Carolina   13.0     337       45 16.1
North Dakota      0.8      45       44  7.3
Ohio              7.3     120       75 21.4
Oklahoma          6.6     151       68 20.0
Oregon            4.9     159       67 29.3
Pennsylvania      6.3     106       72 14.9
Rhode Island      3.4     174       87  8.3
South Carolina   14.4     279       48 22.5
South Dakota      3.8      86       45 12.8
Tennessee        13.2     188       59 26.9
Texas            12.7     201       80 25.5
Utah              3.2     120       80 22.9
Vermont           2.2      48       32 11.2
Virginia          8.5     156       63 20.7
Washington        4.0     145       73 26.2
West Virginia     5.7      81       39  9.3
Wisconsin         2.6      53       66 10.8
Wyoming           6.8     161       60 15.6

$contact
[1] 653267890 890765321  87832987

$matrix1
     [,1] [,2] [,3] [,4] [,5]
[1,]    1    3    5    7    9
[2,]    2    4    6    8   10

$usarrests
               Murder Assault UrbanPop Rape
Alabama          13.2     236       58 21.2
Alaska           10.0     263       48 44.5
Arizona           8.1     294       80 31.0
Arkansas          8.8     190       50 19.5
California        9.0     276       91 40.6
Colorado          7.9     204       78 38.7
Connecticut       3.3     110       77 11.1
Delaware          5.9     238       72 15.8
Florida          15.4     335       80 31.9
Georgia          17.4     211       60 25.8
Hawaii            5.3      46       83 20.2
Idaho             2.6     120       54 14.2
Illinois         10.4     249       83 24.0
Indiana           7.2     113       65 21.0
Iowa              2.2      56       57 11.3
Kansas            6.0     115       66 18.0
Kentucky          9.7     109       52 16.3
Louisiana        15.4     249       66 22.2
Maine             2.1      83       51  7.8
Maryland         11.3     300       67 27.8
Massachusetts     4.4     149       85 16.3
Michigan         12.1     255       74 35.1
Minnesota         2.7      72       66 14.9
Mississippi      16.1     259       44 17.1
Missouri          9.0     178       70 28.2
Montana           6.0     109       53 16.4
Nebraska          4.3     102       62 16.5
Nevada           12.2     252       81 46.0
New Hampshire     2.1      57       56  9.5
New Jersey        7.4     159       89 18.8
New Mexico       11.4     285       70 32.1
New York         11.1     254       86 26.1
North Carolina   13.0     337       45 16.1
North Dakota      0.8      45       44  7.3
Ohio              7.3     120       75 21.4
Oklahoma          6.6     151       68 20.0
Oregon            4.9     159       67 29.3
Pennsylvania      6.3     106       72 14.9
Rhode Island      3.4     174       87  8.3
South Carolina   14.4     279       48 22.5
South Dakota      3.8      86       45 12.8
Tennessee        13.2     188       59 26.9
Texas            12.7     201       80 25.5
Utah              3.2     120       80 22.9
Vermont           2.2      48       32 11.2
Virginia          8.5     156       63 20.7
Washington        4.0     145       73 26.2
West Virginia     5.7      81       39  9.3
Wisconsin         2.6      53       66 10.8
Wyoming           6.8     161       60 15.6

$contact
[1] 653267890 890765321  87832987

$usarrests
               Murder Assault UrbanPop Rape
Alabama          13.2     236       58 21.2
Alaska           10.0     263       48 44.5
Arizona           8.1     294       80 31.0
Arkansas          8.8     190       50 19.5
California        9.0     276       91 40.6
Colorado          7.9     204       78 38.7
Connecticut       3.3     110       77 11.1
Delaware          5.9     238       72 15.8
Florida          15.4     335       80 31.9
Georgia          17.4     211       60 25.8
Hawaii            5.3      46       83 20.2
Idaho             2.6     120       54 14.2
Illinois         10.4     249       83 24.0
Indiana           7.2     113       65 21.0
Iowa              2.2      56       57 11.3
Kansas            6.0     115       66 18.0
Kentucky          9.7     109       52 16.3
Louisiana        15.4     249       66 22.2
Maine             2.1      83       51  7.8
Maryland         11.3     300       67 27.8
Massachusetts     4.4     149       85 16.3
Michigan         12.1     255       74 35.1
Minnesota         2.7      72       66 14.9
Mississippi      16.1     259       44 17.1
Missouri          9.0     178       70 28.2
Montana           6.0     109       53 16.4
Nebraska          4.3     102       62 16.5
Nevada           12.2     252       81 46.0
New Hampshire     2.1      57       56  9.5
New Jersey        7.4     159       89 18.8
New Mexico       11.4     285       70 32.1
New York         11.1     254       86 26.1
North Carolina   13.0     337       45 16.1
North Dakota      0.8      45       44  7.3
Ohio              7.3     120       75 21.4
Oklahoma          6.6     151       68 20.0
Oregon            4.9     159       67 29.3
Pennsylvania      6.3     106       72 14.9
Rhode Island      3.4     174       87  8.3
South Carolina   14.4     279       48 22.5
South Dakota      3.8      86       45 12.8
Tennessee        13.2     188       59 26.9
Texas            12.7     201       80 25.5
Utah              3.2     120       80 22.9
Vermont           2.2      48       32 11.2
Virginia          8.5     156       63 20.7
Washington        4.0     145       73 26.2
West Virginia     5.7      81       39  9.3
Wisconsin         2.6      53       66 10.8
Wyoming           6.8     161       60 15.6

$usarrests
               Murder Assault UrbanPop Rape
Alabama          13.2     236       58 21.2
Alaska           10.0     263       48 44.5
Arizona           8.1     294       80 31.0
Arkansas          8.8     190       50 19.5
California        9.0     276       91 40.6
Colorado          7.9     204       78 38.7
Connecticut       3.3     110       77 11.1
Delaware          5.9     238       72 15.8
Florida          15.4     335       80 31.9
Georgia          17.4     211       60 25.8
Hawaii            5.3      46       83 20.2
Idaho             2.6     120       54 14.2
Illinois         10.4     249       83 24.0
Indiana           7.2     113       65 21.0
Iowa              2.2      56       57 11.3
Kansas            6.0     115       66 18.0
Kentucky          9.7     109       52 16.3
Louisiana        15.4     249       66 22.2
Maine             2.1      83       51  7.8
Maryland         11.3     300       67 27.8
Massachusetts     4.4     149       85 16.3
Michigan         12.1     255       74 35.1
Minnesota         2.7      72       66 14.9
Mississippi      16.1     259       44 17.1
Missouri          9.0     178       70 28.2
Montana           6.0     109       53 16.4
Nebraska          4.3     102       62 16.5
Nevada           12.2     252       81 46.0
New Hampshire     2.1      57       56  9.5
New Jersey        7.4     159       89 18.8
New Mexico       11.4     285       70 32.1
New York         11.1     254       86 26.1
North Carolina   13.0     337       45 16.1
North Dakota      0.8      45       44  7.3
Ohio              7.3     120       75 21.4
Oklahoma          6.6     151       68 20.0
Oregon            4.9     159       67 29.3
Pennsylvania      6.3     106       72 14.9
Rhode Island      3.4     174       87  8.3
South Carolina   14.4     279       48 22.5
South Dakota      3.8      86       45 12.8
Tennessee        13.2     188       59 26.9
Texas            12.7     201       80 25.5
Utah              3.2     120       80 22.9
Vermont           2.2      48       32 11.2
Virginia          8.5     156       63 20.7
Washington        4.0     145       73 26.2
West Virginia     5.7      81       39  9.3
Wisconsin         2.6      53       66 10.8
Wyoming           6.8     161       60 15.6

[1] "list"

[1] 653267890 890765321  87832987

[1] "numeric"

[[1]]
[[1]][[1]]
[1] 653267890 890765321  87832987

[[1]][[2]]
     [,1] [,2] [,3] [,4] [,5]
[1,]    1    3    5    7    9
[2,]    2    4    6    8   10

[[1]][[3]]
               Murder Assault UrbanPop Rape
Alabama          13.2     236       58 21.2
Alaska           10.0     263       48 44.5
Arizona           8.1     294       80 31.0
Arkansas          8.8     190       50 19.5
California        9.0     276       91 40.6
Colorado          7.9     204       78 38.7
Connecticut       3.3     110       77 11.1
Delaware          5.9     238       72 15.8
Florida          15.4     335       80 31.9
Georgia          17.4     211       60 25.8
Hawaii            5.3      46       83 20.2
Idaho             2.6     120       54 14.2
Illinois         10.4     249       83 24.0
Indiana           7.2     113       65 21.0
Iowa              2.2      56       57 11.3
Kansas            6.0     115       66 18.0
Kentucky          9.7     109       52 16.3
Louisiana        15.4     249       66 22.2
Maine             2.1      83       51  7.8
Maryland         11.3     300       67 27.8
Massachusetts     4.4     149       85 16.3
Michigan         12.1     255       74 35.1
Minnesota         2.7      72       66 14.9
Mississippi      16.1     259       44 17.1
Missouri          9.0     178       70 28.2
Montana           6.0     109       53 16.4
Nebraska          4.3     102       62 16.5
Nevada           12.2     252       81 46.0
New Hampshire     2.1      57       56  9.5
New Jersey        7.4     159       89 18.8
New Mexico       11.4     285       70 32.1
New York         11.1     254       86 26.1
North Carolina   13.0     337       45 16.1
North Dakota      0.8      45       44  7.3
Ohio              7.3     120       75 21.4
Oklahoma          6.6     151       68 20.0
Oregon            4.9     159       67 29.3
Pennsylvania      6.3     106       72 14.9
Rhode Island      3.4     174       87  8.3
South Carolina   14.4     279       48 22.5
South Dakota      3.8      86       45 12.8
Tennessee        13.2     188       59 26.9
Texas            12.7     201       80 25.5
Utah              3.2     120       80 22.9
Vermont           2.2      48       32 11.2
Virginia          8.5     156       63 20.7
Washington        4.0     145       73 26.2
West Virginia     5.7      81       39  9.3
Wisconsin         2.6      53       66 10.8
Wyoming           6.8     161       60 15.6


[[2]]
[[2]]$contact
[1] 653267890 890765321  87832987

[[2]]$matrix1
     [,1] [,2] [,3] [,4] [,5]
[1,]    1    3    5    7    9
[2,]    2    4    6    8   10

[[2]]$usarrests
               Murder Assault UrbanPop Rape
Alabama          13.2     236       58 21.2
Alaska           10.0     263       48 44.5
Arizona           8.1     294       80 31.0
Arkansas          8.8     190       50 19.5
California        9.0     276       91 40.6
Colorado          7.9     204       78 38.7
Connecticut       3.3     110       77 11.1
Delaware          5.9     238       72 15.8
Florida          15.4     335       80 31.9
Georgia          17.4     211       60 25.8
Hawaii            5.3      46       83 20.2
Idaho             2.6     120       54 14.2
Illinois         10.4     249       83 24.0
Indiana           7.2     113       65 21.0
Iowa              2.2      56       57 11.3
Kansas            6.0     115       66 18.0
Kentucky          9.7     109       52 16.3
Louisiana        15.4     249       66 22.2
Maine             2.1      83       51  7.8
Maryland         11.3     300       67 27.8
Massachusetts     4.4     149       85 16.3
Michigan         12.1     255       74 35.1
Minnesota         2.7      72       66 14.9
Mississippi      16.1     259       44 17.1
Missouri          9.0     178       70 28.2
Montana           6.0     109       53 16.4
Nebraska          4.3     102       62 16.5
Nevada           12.2     252       81 46.0
New Hampshire     2.1      57       56  9.5
New Jersey        7.4     159       89 18.8
New Mexico       11.4     285       70 32.1
New York         11.1     254       86 26.1
North Carolina   13.0     337       45 16.1
North Dakota      0.8      45       44  7.3
Ohio              7.3     120       75 21.4
Oklahoma          6.6     151       68 20.0
Oregon            4.9     159       67 29.3
Pennsylvania      6.3     106       72 14.9
Rhode Island      3.4     174       87  8.3
South Carolina   14.4     279       48 22.5
South Dakota      3.8      86       45 12.8
Tennessee        13.2     188       59 26.9
Texas            12.7     201       80 25.5
Utah              3.2     120       80 22.9
Vermont           2.2      48       32 11.2
Virginia          8.5     156       63 20.7
Washington        4.0     145       73 26.2
West Virginia     5.7      81       39  9.3
Wisconsin         2.6      53       66 10.8
Wyoming           6.8     161       60 15.6